{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Этот скрипт предназначен для загрузки и представления данных с двух спутников - KUZBASS-300 и KUZGTU-1. Сначала программа парсит данные с заданного URL для каждого спутника и сохраняет их в текстовые файлы. После этого данные агрегируются в серии и отображаются на графике, чтобы наглядно представить изменение значений по месяцам.

Для каждого спутника используются примерные данные по изменению значений в течение нескольких месяцев. После построения графика можно увидеть сравнение показателей KUZBASS-300 и KUZGTU-1 и проанализировать их динамику.

Программа позволяет визуально сравнивать данные с двух спутников, что может быть полезно для оценки работы и эффективности каждого из них. Визуализация данных помогает лучше понять изменения и тенденции в работе спутников и выявить возможные закономерности.</p>
        <a href="{% url 'contacts' %}"  class="btn btn-danger">{% filter upper %}На страницу контактов{% endfilter %}</a>
    </div>
{% endblock %}